<h1>Listing hobbies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hobbies.each do |hobby| %>
      <tr>
        <td><%= hobby.name %></td>
        <td><%= hobby.description %></td>
        <td><%= link_to (raw("<i class='fa fa-search'>Show</i>")), hobby %></td>
        <td><%= link_to (raw("<i class='fa fa-edit'>Edit</i>")), edit_hobby_path(hobby) %></td>
        <td><%= link_to (raw("<i class='fa fa-remove'>Remove</i>")), hobby, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to (raw("<button class='btn btn-default'>New Hobby</button>")), new_member_hobby_path %>
<%= link_to (raw("<button class='btn btn-default'>Back</button>")), member_path(params[:member_id]) %>
