<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hobby.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hobby.description %>
</p>

<%= link_to (raw("<button class='btn btn-default'>Edit</button>")), edit_hobby_path(@hobby) %>
<%= link_to (raw("<button class='btn btn-default'>Back</button>")), member_hobbies_path(@hobby.member) %>
